/*@import url(http://fonts.googleapis.com/css?family=Lobster|Roboto);


body {
  font-family: Lobster, Roboto; // list any fonts you want to use in your game here, and you're good to go
}*/

/*@import url(http://fonts.googleapis.com/css?family=Coda);*/

body {
    background-color: #292667;
    margin-top: 0px;
    padding-top: 0px;
    overflow:hidden;
    /*font-family: 'Coda', sans-serif;*/
}

.center {
    text-align: left;
    width: 1500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#intro_screen {
    position: relative;
    left : 275px;
    top: -515px;
    width: 640px;
    border-style                :   solid;
    border-width                :   8px;
    border-color                :   #F7F7F7;
    -webkit-border-radius       :   3px;
    -moz-border-radius          :   3px;
    border-radius               :   3px;
    visibility: hidden;
}

#video_stars{
    margin-top: -100px;
    visibility: hidden;
}

#stars_container{
    position: relative;
    top: 265px;
    left: 250px;
    width: 700px;
    height: 315px;
    display: block;
    overflow: hidden;
}

#sea_container, #fireworks_container, #waves_horizon_container, #waves_container, #dark_waves_container {
    position: absolute;
    top: 240px;
    left: 90px;
    width: 1000px;
    height: 450px;
    -moz-border-radius:20px;
    border-radius:20px;
    overflow:hidden;
}

#video_sea, #video_fireworks, #video_waves_horizon, #video_waves{
    width:1000px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    overflow:hidden;
    visibility: hidden;
}

#video_dark_waves{
    width:1000px;
    height: 540px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    overflow:hidden;
    visibility: hidden;
}


.background{
    width: 1500px;
    height: 724px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0px;
    background-color: #1E1C4B;
    z-index: -1;
}
